/* ----------------
general 
----------------- */

/* ---------------- custom variables --------------*/
:root {
  --main-color: #fb4a4a;
  --bg-black-900: #3b3b3b;
  --bg-black-100: #292929;
  --bg-black-50: #000;
  --bg-opacity: #27272749;
  --border: 1px solid #3a3a3a;
  --border-radius: 12px;
  --border-radius-r: 32px;
  --blur: saturate(180%) blur(5px);
  --text-black-900: #fafafa;
  --text-black-700: #c9c1c1;
  --text-black-600: #a0a0a0;
  --code-tag: #d3d3ff;
  --code-text: #ffded3;
  --code-text-val: #d3fffd;
  --code-bg: #70707033;
  --outer-shadow: 3px 3px 18px #00000028;

  --transition: all 0.4s ease-in-out;

  /*      theme font-family   */
  --Poppins: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-black-50);
  width: 100%;
  line-height: 1.5;
  font-weight: 500;
  scroll-behavior: smooth;
}
body.light-mode {
  --bg-black-900: #d3d3d3;
  --bg-black-100: #eee;
  --bg-black-50: #fdfdfd;
  --bg-opacity: #e7e7e718;
  --border: 1px solid #d8d8d8;
  --text-black-900: #131212;
  --text-black-700: #383838;
  --text-black-600: #575757;
  --code-tag: #08080a;
  --code-text: #070606;
  --code-text-val: #161a19;
  --code-bg: #70707033;
  --outer-shadow: 3px 3px 15px #a7a7a710;
}

body.hidden-scrolling {
  overflow-y: hidden;
}
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.3rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 100vw;
}
*:not(i) {
  font-family: var(--Poppins);
  font-weight: 500;
}
i.fab,
i.fas {
  line-height: 2.4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:before,
:after {
  box-sizing: border-box;
}

.progress {
  width: 100%;
  height: 5px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.progress-bar {
  height: 100%;
  width: 0%;
  background-color: var(--main-color);
}
a {
  text-decoration: none;
}
p {
  color: var(--text-black-700);
}

h1,
h2,
h3,
h4 {
  color: var(--text-black-900);
  text-transform: capitalize;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 16px;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  margin: auto;
}
main{
  padding: 100px 0 60px;
}
section {
  overflow: hidden;
  min-height: 100vh;
  padding-block: 50px;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items {
  align-items: center;
}
.grid {
  display: grid;
}
.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.btn {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  color: var(--main-color);
  background-color: var(--bg-black-50);
  text-transform: capitalize;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: var(--transition);
  display: inline-block;
  border: var(--border);
}
.btn:after {
  border-radius: var(--border-radius);
}
.btn:active {
  transform: scale(0.8579);
}
.btn:hover {
  background-color: var(--bg-opacity);
}
.btn.category {
  padding: 5px 10px;
}
.outer-shadow {
  box-shadow: var(--outer-shadow);
}
/* ---------------- general close -------------- */

/* -----------------
section 
------------------ */
.section {
  width: 100%;
}
.section-title {
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
.section-title h2 {
  display: inline-block;
  text-transform: capitalize;
  margin: 0;
}
.section-title h2:before {
  content: attr(data-heading);
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: var(--main-color);
}
/* -------------------------------- */

@media screen and (max-width: 900px) {

  .grid-col-3 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 48px;
  }

  
  .container {
    width: 90%;
  }
  .contact-section .w-50,
  .contact-section .contact-item,
  .portfolio-popup .info,
  .portfolio-section .portfolio-item,
  .about-section .about-info,
  .about-section .about-img,
  .portfolio-popup .description,
  .hero-section .hero-text,
  .hero-section .hero-img {
    flex: 0 0 100%;
    min-width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  

  .portfolio-section .portfolio-items {
    gap: 20px;
  }

  .portfolio-section .portfolio-item {
    padding: 0;
  }

  .portfolio-section .water-mark {
    top: 3%;
    width: 35%;
  }

  .portfolio-popup .pp-details {
    width: 90%;
  }

  .contact-section .w-50 {
    padding: 0;
  }
  .contact-section .row {
    gap: 20px;
  }
  .contact-section .contact-item {
    padding: 0;
  }
  .contact-section .submit-btn {
    text-align: left;
    padding: 0;
  }

  .blog-section.grid {
    grid-template-columns: 1fr;
  }

  .grid-col-3 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
  }

  .blog-section .recent-post .post {
    grid-template-columns: 1fr;
  }
}
