/* -------------
effect 
-------------- */

.effect-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.effect-wrap .effect {
  position: absolute;
  z-index: -1;
}
.effect-1 {
  left: 3%;
  bottom: 15%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: bounce 3s ease-in-out infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}
.effect-1 div {
  width: 3px;
  height: 3px;
  background-color: #ff8c00;
  margin: 0 3px 8px;
}
@keyframes bounceLeft {
  0%,
  100% {
    transform: translateX(50%) rotate(45deg);
  }
  50% {
    transform: translateX(55%) rotate(45deg);
  }
}
.effect-2 {
  height: 50px;
  width: 50px;
  right: 5%;
  top: 25%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 10s linear infinite;
}
.effect-2 div {
  width: 1px;
  background-color: #4dd0e1;
}


@media screen and (max-width:768px) {
  .effect-2 {
    top: 50%;
    right: 60%;
  }
}

/* ----------------- effect close ------------ */
